In [6]:
from recsys import create_interaction_matrix, create_user_dict, create_item_dict, runMF, sample_recommendation_user
import pickle
import pandas as pd

In [7]:
ratings = pd.read_csv('../data/movielens_small_main/ratings.csv')  # load user-item
ratings.head()

   userId  movieId  rating  timestamp
0     1.0      1.0     4.0  964982703
1     1.0      3.0     4.0  964981247
2     1.0      6.0     4.0  964982224
3     1.0     47.0     5.0  964983815
4     1.0     50.0     5.0  964982931

In [9]:
movies = pd.read_csv('../data/movielens_small_main/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
interactions = create_interaction_matrix(df = ratings,
                                         user_col = 'userId',
                                         item_col = 'movieId',
                                         rating_col = 'rating')
interactions.head()

movieId,1.0,3.0,6.0,47.0,50.0,70.0,101.0,110.0,151.0,157.0,...,147662.0,148166.0,149011.0,152372.0,158721.0,160341.0,160527.0,160836.0,163937.0,163981.0
userId,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6.0,0.0,5.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
user_dict = create_user_dict(interactions=interactions)
movies_dict = create_item_dict(df = movies,
                               id_col = 'movieId',
                               name_col = 'title')
mf_model = runMF(interactions = interactions,
                 n_components = 30,
                 loss = 'warp',
                 epoch = 30,
                 n_jobs = 4)

In [12]:
with open('movie_rec_model.pickle', 'wb') as fle:
    pickle.dump(mf_model, fle, protocol=pickle.HIGHEST_PROTOCOL)

In [26]:
import shutil
shutil.copy2( 'movie_rec_model.pickle' , '../model_api' )

'../model_api\\movie_rec_model.pickle'

In [27]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 11, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10,
                                      show = True)

Known Likes:
1- Saving Private Ryan (1998)
2- As Good as It Gets (1997)
3- Titanic (1997)
4- Amistad (1997)
5- Contact (1997)
6- Last of the Mohicans, The (1992)
7- Top Gun (1986)
8- Silence of the Lambs, The (1991)
9- Searching for Bobby Fischer (1993)
10- Fugitive, The (1993)
11- Forrest Gump (1994)
12- Clear and Present Danger (1994)
13- Apollo 13 (1995)
14- Braveheart (1995)
15- Heat (1995)

 Recommended Items:
1- Batman (1989)
2- True Lies (1994)
3- Terminator 2: Judgment Day (1991)
4- Jurassic Park (1993)
5- Independence Day (a.k.a. ID4) (1996)
6- Speed (1994)
7- Star Wars: Episode VI - Return of the Jedi (1983)
8- Mission: Impossible (1996)
9- Stargate (1994)
10- Cliffhanger (1993)