In [1]:
from recsys import create_interaction_matrix, create_user_dict, create_item_dict, runMF, sample_recommendation_user
import pickle
import pandas as pd

C:\Users\User\anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [2]:
ratings = pd.read_csv('../data/movielens_small_main/ratings.csv')  # load user-item
ratings.head()

   userId  movieId  rating  timestamp
0     1.0      1.0     4.0  964982703
1     1.0      3.0     4.0  964981247
2     1.0      6.0     4.0  964982224
3     1.0     47.0     5.0  964983815
4     1.0     50.0     5.0  964982931

In [3]:
movies = pd.read_csv('../data/movielens_small_main/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
interactions = create_interaction_matrix(df = ratings,
                                         user_col = 'userId',
                                         item_col = 'movieId',
                                         rating_col = 'rating')
interactions.head()

movieId,1.0,3.0,6.0,47.0,50.0,70.0,101.0,110.0,151.0,157.0,...,147662.0,148166.0,149011.0,152372.0,158721.0,160341.0,160527.0,160836.0,163937.0,163981.0
userId,,,,,,,,,,,,,,,,,,,,,
1.0,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,4.0,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6.0,0.0,5.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
user_dict = create_user_dict(interactions=interactions)
movies_dict = create_item_dict(df = movies,
                               id_col = 'movieId',
                               name_col = 'title')
mf_model = runMF(interactions = interactions,
                 n_components = 30,
                 loss = 'warp',
                 epoch = 30,
                 n_jobs = 4)

In [6]:
with open('movie_rec_model.pickle', 'wb') as fle:
    pickle.dump(mf_model, fle, protocol=pickle.HIGHEST_PROTOCOL)

In [7]:
!copy movie_rec_model.pickle ./../model_api/movie_rec_model.pickle

The syntax of the command is incorrect.